In [2]:
import zipfile
import os
import pandas as pd

In [3]:
zip_file_path = 'data.zip'

with zipfile.ZipFile(zip_file_path, 'r') as zip_ref:
    zip_ref.extractall()

files = os.listdir('data')
if 'data_2d.csv' in files and 'mnist.csv' in files:
    print("Files finded and unpacked.")
else:
    print("Files not founded, try again.")

Files finded and unpacked.

Unpacking files and checking it

In [7]:
df = pd.read_csv("data/data_2d.csv", header=None)

df.head()

     0         1         2
0  0.0 -0.768716  0.460860
1  0.0  2.687848  2.366961
2  0.0 -0.201379  0.470430
3  0.0  0.608496  1.225400
4  0.0 -0.082282  1.137218

In [14]:
mnist_df = pd.read_csv("data/mnist.csv", header=None)

display(mnist_df.head())


mnist_df.shape

,0,1,2,3,4,5,6,7,8,9,...,775,776,777,778,779,780,781,782,783,784
0,7,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

(500, 785)